// Define variables for your color scheme

// For example:
$red: #DCF1B4;
$blue: #AFBBDD;
$yellow: #123456;
$orange: #654321;
$green: #007700;
$gray: #111111;
$light-gray: #BB00BB;
$white: #000000;
$black: #FFFFFF;
